*{
  /* background-color: #E6DCEA; */
  top: 0%;
  left: 2vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Set position to fixed */
  top: 0; 
  left: 0;
  width: 100%;
}

.top-preview > div {
  width: 100%;
}

.preview{
  border: 1px solid rgb(82, 82, 82);
  /* width: 60vw; */
  margin-bottom: 2vh;
  margin-top: 10vh;
  padding: 1%;
  justify-content: center;
  display: flex;
}

/* .preview-header{
  color: white; 
  background-color: #9518C0;
  text-align: center;
  width: '100%';
  box-shadow: 5px 5px 5px plum;
} */

.preview-image {
  transition: transform 0.3s ease; 
  box-shadow: 5px 5px 5px rgb(44, 23, 56);

  &:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
    cursor: pointer; 
  }
}

.content-scroll, .target-scroll {
  max-height: 40vh; 
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.select-content, .select-target{
  width: 35vw;
  height: 45vh;
  margin-top: 8vh;
  padding: 5px;
  border: 0.5px solid black;
  margin-bottom: 5vh;
}


/* width */
.content-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.content-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.content-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.content-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

/* width */
.target-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.target-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.target-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.target-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

.error-text{
  font-size: 0.8rem;
  font-weight: 500;
  color: red;
  background-color: blanchedalmond;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

.success-text{
  font-size: 0.8rem;
  font-weight: 500;
  color: green;
  background-color: greenyellow;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
  max-width: 40vw;
}

.link-button{
  margin-top: 40vh;
  margin-left: 78vw;
  /* margin-bottom: 35vh; */
  background-color:#79109D ;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  position: absolute;
}

.link-button:hover{
  box-shadow: 2px 2px 2px rgb(44, 23, 56);
}

.share-link{
  width: 50vw;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  margin-top: 3vh;
  border: 0.5px solid #79109D;
  max-height: 6vh;
  background-color: rgb(221, 201, 231);
}

.share-button{
  background-color:#79109D ;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  float: inline-end;
}

.share-button:hover{
  box-shadow: 2px 2px 2px rgb(44, 23, 56);
}

/* home page all links preview */

.all-links{
  justify-content: center;
  width: 52vw;
  /* margin-left: 12vw; */
  max-height: 45vh; 
  overflow-y: auto;
}

/* width */
.all-links::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.all-links::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.all-links::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.all-links::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

.linked-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(82, 82, 82);
  margin-bottom: 8px;
  padding: 10px;
  margin-right: 15px;
}

.view-button{
  background-color:#000000 ;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  float: inline-end;
  margin-left: 5vw;
  margin-top: 6vh;
}

.view-button:hover{
  box-shadow: 2px 2px 2px rgb(58, 53, 61);
}