* {
  /* background-color: #E6DCEA; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Set position to fixed */
  top: 0;
  left: 0;
  width: 100%;
}

.preview {
  border: 1px solid rgb(82, 82, 82);
  width: 40vw;
  margin-bottom: 2vh;
  margin-top: 10vh;
  padding: 1%;
  justify-content: center;
  display: flex;
}


.preview-image {
  width: 15vw;
  height: 16vh;
  border-radius: inherit;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 5px rgb(44, 23, 56);

  &:hover {
    transform: scale(1.1);
    /* Increase the size by 10% on hover */
    cursor: pointer;
  }
}

.content-scroll,
.target-scroll {
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.select-content,
.select-target {
  width: 35vw;
  height: 45vh;
  margin-top: 8vh;
  padding: 5px;
  border: 0.5px solid black;
  margin-bottom: 5vh;
}


/* width */
.content-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.content-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.content-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.content-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

/* width */
.target-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.target-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.target-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.target-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

.error-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: red;
  background-color: blanchedalmond;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}

.success-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: green;
  background-color: greenyellow;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
  max-width: 40vw;
}

.link-button {
  /* margin-top: 1vh; */
  margin-left: 38vw;
  /* margin-bottom: 35vh; */
  background-color: #79109D;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  position: absolute;
}

.link-button:hover {
  box-shadow: 2px 2px 2px rgb(44, 23, 56);
}

.share-link {
  width: 70vw;
  padding: 10px;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 1vh;
  border: 0.5px solid #79109D;
  display: flex;
  /* max-height: 6vh; */
  background-color: rgb(221, 201, 231);
}

.share-button {
  background-color: #79109D;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  float: inline-end;
  margin-right: 2vw;
}

.share-button:hover, .scene-btn:hover {
  box-shadow: 2px 2px 2px rgb(44, 23, 56);
}

.scene-btn{
  background-color: #79109D;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 12vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  float: inline-end;
}

.scene-btn-container{
  margin-top: 1vh;
}

.upload-img{
  width: 2vw;
  height: 3vh;
  border-radius: inherit;
  object-fit: cover;
}

/* home page all links preview */

.all-links {
  justify-content: center;
  width: 52vw;
  max-height: 45vh;
  overflow-y: auto;
}

/* width */
.all-links::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.all-links::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.all-links::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.all-links::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

.linked-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(82, 82, 82);
  margin-bottom: 8px;
  padding: 10px;
  margin-right: 15px;
}

.view-button {
  background-color: #000000;
  color: white;
  font-weight: bold;
  font-size: medium;
  width: 7vw;
  height: 5vh;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  float: inline-end;
  margin-left: 5vw;
  margin-top: 6vh;
}

.view-button:hover {
  box-shadow: 2px 2px 2px rgb(58, 53, 61);
}

.content-container{
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
}

.content-cards {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 2vh;
}

.box-container{
  width: 15vw;
  height: 16vh;
  background-color: #9518C0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: #9518C0 0.3s ease-in-out;
  /* margin: 2%; */
}

.box-container:hover{
  background-color: #BB4AE2;
}

.links-container{
  border: solid;
  width: 55vw;
  min-height: 48vh;
  padding: 2vh;
  align-content: center;
}

.content-img, .target-img{
  width: 15vw;
  height: 16vh;
  border-radius: inherit;
  object-fit: cover;
}

.content-preview-img{
  width: 15vw;
  height: 16vh;
  border-radius: inherit;
  object-fit: cover;
}

.link-img{
  width: 2vw;
  height: 3vh;
  border-radius: inherit;
  object-fit: cover;
}

.heading-content{
  text-align: left; 
  margin-top: 10vh; 
  margin-left: 1vw; 
}

.content-target-container{
  display: flex;
  justify-content: space-between;
}

/* dialog box  */

.description-box{
  width: 17vw;
  height: 8vh;
  border: solid;
}

.close-btn{
  height: 1.5vh;
  width: 1.5vw;
  border-radius: inherit;
  object-fit: cover;
  cursor: pointer;
}

.close-btn-container{
  float: right;
  position: absolute;
  padding: 15px;
  margin-left: 19vw;
}

@media only screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
    margin-top: 2vh;

  }

  .box-container{
    width: 40vw;
    height: 20vh;
  }

  .content-cards{
  align-items: center;
  }

  .links-container{
    width: 80vw;
  }

  .all-links {
    justify-content: center;
    width: 80vw;
    max-height: 45vh;
    overflow-y: auto;
  }

  .content-img{
    width: 24vw;
    height: 20vh;
    border-radius: inherit;
    object-fit: fill;
  }
  
  .target-img{
    width: 24vw;
    height: 24vh;
    border-radius: inherit;
    object-fit: fill;
  }

  .link-img{
    width: 4vw;
    height: 5vh;
    border-radius: inherit;
    object-fit: fill;
  }

  .view-button {
    width: 10vw;
    height: 5vh;
    margin-left: 2vw;
    margin-top: 10vh;
  }

  .heading-content{
    text-align: left; 
    margin-top: 14vh; 
    margin-left: 8vw; 
    margin-bottom: 1vh;
  }

  .upload-img{
    width: 5vw;
    height: 4vh;
    border-radius: inherit;
    object-fit: fill;
  }

  /* preview page  */

  .preview {
    border: 1px solid rgb(82, 82, 82);
    width: 60vw;
    margin-bottom: 2vh;
    margin-top: 10vh;
    padding: 1%;
    justify-content: center;
    display: flex;
  }

  .preview-image {
    width: 20vw;
    height: 20vh;
    border-radius: inherit;
    object-fit: fill;
    margin: 15px;
  }

  .content-target-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .select-content,
  .select-target {
    width: 80vw;
    height: 40vh;
    margin-top: 8vh;
    padding: 5px;
    border: 0.5px solid black;
  }

  .link-button {
    margin-top: 1px;
    margin-left: 30vw;
    margin-bottom: 40vh;
    width: 10vw;
    height: 4vh;
    font-size: small;
  }

  .share-link {
    width: 80vw;
  }
  
  .share-button {
    width: 15vw;
    height: 5vh;
    font-size: small;
  }

  .scene-btn{
    width: 22vw;
    height: 5vh;
    font-size: small;
  }

  .scene-btn-container{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .content-preview-img{
    width: 20vw;
    height: 20vh;
    border-radius: inherit;
    object-fit: fill;
  }

  .description-box{
    width: 57vw;
    height: 8vh;
    border: solid;
  }

  .close-btn{
    height: 3vh;
    width: 3vw;
    border-radius: inherit;
    object-fit: cover;
    cursor: pointer;
  }

  .close-btn-container{
    float: right;
    position: absolute;
    padding: 15px;
    margin-left: 55vw;
  }

  .hover-description{
    position: relative;
    font-size: small;
  }

  .image-description{
    display: flex;
    flex-direction: column;
  }
}