*{
  /* background-color: #E6DCEA; */
  top: 0%;
  left: 2vw;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Set position to fixed */
  top: 0; 
  left: 0;
  width: 100%;
}

.top-preview > div {
  width: 100%;
}

.preview{
  border: 1px solid rgb(82, 82, 82);
  /* width: 60vw; */
  margin-bottom: 2vh;
  margin-top: 10vh;
  padding: 1%;
  justify-content: center;
  display: flex;
}

/* .preview-header{
  color: white; 
  background-color: #9518C0;
  text-align: center;
  width: '100%';
  box-shadow: 5px 5px 5px plum;
} */

.preview-image {
  transition: transform 0.3s ease; 
  box-shadow: 5px 5px 5px rgb(44, 23, 56);

  &:hover {
    transform: scale(1.1); /* Increase the size by 10% on hover */
    cursor: pointer; 
  }
}

.content-scroll, .target-scroll {
  max-height: 45vh; 
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 50px;
}

.select-content, .select-target{
  width: 35vw;
  height: 50vh;
  margin-top: 45vh;
  padding: 5px;
  border: 0.5px solid black;
  margin-bottom: 5vh;
}


/* width */
.content-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.content-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.content-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.content-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

/* width */
.target-scroll::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.target-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.target-scroll::-webkit-scrollbar-thumb {
  background: #a04198;
}

/* Handle on hover */
.target-scroll::-webkit-scrollbar-thumb:hover {
  background: #e03bd7;
}

.error-text{
  font-size: 0.8rem;
  font-weight: 500;
  color: red;
  background-color: blanchedalmond;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}